body {
  background-color: #f3c0c0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden; 
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 4;
}

.restart {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  z-index: 5;
}

 /* 1920 x 1080 */
 /* 1024 x 576 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #b56767;
  font-size: 70px;
  margin-top: 80px;
  padding: 20px;
}

h2 {
  color: #b56767;
}

p {
  text-align: left;
}

.start-container {
  text-align: center;
  animation: jello-horizontal 2s infinite both;
}

.start-button {
  padding: 10px 20px;
  background-color: #4d6844;
  color: #ffffff; 
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
}

 @keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.scene {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4ac82;
}

.cafe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.barista{
  position: absolute;
  /*top: 260px;
  left: 320px;
  z-index: 3;
  width: 210px;*/
  top: 37%;
  left: 26%;
  z-index: 3;
  width: 16.5%;
}

.oldenburg{
  position: absolute;
  /*top: 290px;
  left: 80px;
  z-index: 3;
  width: 50px;*/
  top: 48%;
  left: 7%;
  z-index: 4;
  width: 3.47%;
}

.discord{
  position: absolute;
  /*top: 50px;
  left: 300px;
  z-index: 3;
  width: 100px;*/
  top: 3.47%;
  left: 20.83%;
  z-index: 3;
  width: 6.94%;
}

.olivia{
  position: absolute;
  /*top: 310px;
  left: 60px;
  z-index: 3;
  width: 140px;*/
  top: 49%;
  left: 5%; 
  z-index: 3;
  width: 12%;
}

.may{
  position: absolute;
  /*top: 330px;
  left: 630px;
  z-index: 3;
  width: 140px;*/
  top: 57%;
  left: 56%; 
  z-index: 3;
  width: 11%;
}

.nithin{
  position: absolute;
  /*top: 340px;
  left: 780px;
  z-index: 3;
  width: 120px;*/
  top: 55%; 
  left: 71.5%; 
  z-index: 3;
  width: 10.7%;
}

.pulse-animation {
  filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  }
}













.text-box {
  position: absolute;
  top: 50%; /* Adjust the positioning as needed */
  left: 50%; /* Adjust the positioning as needed */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  height: 500px;
  width: 800px;
  border-radius: 20px;
}

.text-box p{
  padding: 30px;
}


.return-container {
  position: absolute;
  bottom: 50px; /* 50px from the bottom of the .text-box */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0; /* Initially set to be transparent */
  animation: fadeIn 1s ease-in-out 3s forwards;
}

.return-button {
  padding: 10px 20px;
  background-color: #4d6844;
  color: #ffffff; 
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
}

.two-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
}

.two-button-container .return-button{
  margin: 0 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

