body {
  background-color: #f3c0c0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default body margin */
  overflow: hidden; 
}



 /* 1920 x 1080 */
 /* 1024 x 576 */

/*
.scene{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
.scene {
  position: relative; /* Set to relative to act as a container for absolute positioning */
  height: 100vh; /* Adjusted to use viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4ac82;
}
/*
.title{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0; 
}*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.title {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #b56767;
  font-size: 70px;
  margin-top: 80px;
  padding: 20px;
}

h2 {
  color: #b56767;
}

p {
  text-align: left;
}

.start-container {
  text-align: center;
  animation: jello-horizontal 2s infinite both;
}

.start-button {
  padding: 10px 20px;
  background-color: #4d6844;
  color: #ffffff; 
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
}

 @keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/*
.cafe {
  position: relative;
  height: 100%;
  z-index: 1;
}*/


.cafe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.barista{
  position: absolute;
  top: 260px;
  left: 320px;
  z-index: 3;
  width: 240px;
}

.oldenburg{
  position: absolute;
  top: 340px;
  left: 100px;
  z-index: 3;
  width: 50px;
}

.discord{
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 3;
  width: 100px;
}

.pulse-animation {
  filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5));
  }
}













.text-box {
  position: absolute;
  top: 50%; /* Adjust the positioning as needed */
  left: 50%; /* Adjust the positioning as needed */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  height: 500px;
  width: 800px;
  border-radius: 20px;
}

.text-box p{
  padding: 30px;
}


.return-container {
  position: absolute;
  bottom: 50px; /* 50px from the bottom of the .text-box */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0; /* Initially set to be transparent */
  animation: fadeIn 1s ease-in-out 3s forwards;
}

.return-button {
  padding: 10px 20px;
  background-color: #4d6844;
  color: #ffffff; 
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

